<template>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Title</label>
    <input type="text" v-model="noteTitle" class="form-control" id="exampleFormControlInput1" placeholder="Titel eingeben">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Notiz</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" @keydown.enter.prevent="saveNote" v-model="noteText" rows="3"></textarea>
  </div>
  <button @click="saveNote" type="button" class="btn btn-primary">Speichern</button>
</template>

<script setup>
import {ref} from "vue";
import {useNoteStore} from "@/store/noteStore";

const noteStore = useNoteStore()

const noteText = ref("")
const noteTitle = ref("")

async function saveNote(){
    await noteStore.saveNote(noteText,noteTitle)
  noteText.value = ''
  noteTitle.value = ''
}

</script>

<style scoped>

</style>