<template>
  <div class="card mt-5 bg-dark text-white" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <hr>
      <p class="card-text">{{note}}</p>
      <button type="button" class="btn btn-danger" @click="del(data.id)">Delete</button>
    </div>
  </div>
</template>

<script setup>
import {useNoteStore} from "@/store/noteStore";

const noteStore = useNoteStore()

const data = defineProps(["title", "note","id"])

async function del(id) {
    await noteStore.deleteNote(id)
}
</script>
