<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <input-component></input-component>
      </div>
    </div>
    <div class="row">
          <note-component class="d-inline-block mx-auto" v-for="data in noteStore.notes" :title="data.header" :note="data.note" :id="data.id"
                          @delete="noteStore.loadNotes()"/>
    </div>
  </div>
</template>

<script setup>

import InputComponent from "@/components/inputComponent.vue";
import NoteComponent from "@/components/noteComponent.vue";
import {onMounted} from "vue";
import {useNoteStore} from "@/store/noteStore";

const noteStore = useNoteStore()

onMounted(() => {
  noteStore.loadNotes()
})
</script>

<style scoped>

</style>