<script setup>

import NotesView from "@/components/views/notesView.vue";

//const data = axios.get('http://localhost:8080/api/notes/')
</script>

<template>
<notes-view/>

</template>

<style scoped>
  body{
    background: #1e2125;
  }
</style>
